.chat_log_msg__sec {    
    min-height: calc(100vh - 208px);
}
.sample_chat_img {
    background: #FAF7F2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.chat_tip_msg {
    background-color: #FFCF86;
    border: 0.5px solid #E6BA79;
    border-radius: 20px;
}
.chat_tip_msg p {
    color: #A66E19;
}
.chat_descr_img {
    border-radius: 8px;;
}
.chat_log_msg_type_sec {
    padding: 16px 0;
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.05);
}
.chatlog_text_box {
    position: relative;
}
.chatlog_text_box>input{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 16px 16px 16px 32px;
}
.chatlog_text_box_icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.chatlog_text_box_icon>img {
    max-width: 46px;
}