.scenario_selection_container{
    padding: 48px 40px;
}
.step_head{
    background: var(--blue-card);
    color: var(--white);
    padding: 10px 16px;
    border-radius: 25px;
    margin: 0 auto;
    margin-left: 23px;
}
.step_text{
    margin: 0 auto;
    font-size: 16px;
    line-height: 16px;
    margin-top: 11.3px;
    margin-left: -3px;
}
.step_list{
    display: flex;
    flex-direction: column;
}
.step_lists:first-child span.step_head:after {
    display: inline-block;
    content: "";
    border-top: .3rem solid var(--blue-card);
    width: 15rem;
    margin: 0 1rem;
    transform: translateY(0.5rem);
    position: absolute;
}
.content{
    background: var(--border-soft);
    border: 1px solid var(--border-deep-soft);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 2rem 16rem 2rem 2rem;
    margin-top: 2rem;
}
.content_btn{
    justify-content: space-between;
    width: 23%;
}
.out_line_btn{
    border: 1px solid var(--blue-card);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    color: var(--blue-card);
    width: 90px;
    height: 36px;
}
.out_fill_btn{
    background: var(--blue-card);
    border-radius: 4px;
    color: var(--white);
    font-size: 14px;
    border: none;
    width: 159px;
    height: 36px;
}
.human_img{
    width: 35%;
}
.w_6{
    width: 22%;
}
.w_14{
    width: 11%!important;
}
.percent_content{
    display: flex;
    border: 2px solid var(--blue-card);
    border-radius: 10px;
    width: 92%;
    bottom: 0;
    position: absolute;
}
.percent_content_left{
    text-align: center;
    border-right: 2px solid var(--blue-card);
    padding-top: 1.4rem;
    width: 100%;
}
.percent_content_text{
    font-weight: bold;
    margin-left: 1rem;
}
.percent_content_right{
    width: 100%;
}
.right_top{
    border-bottom: 2px solid var(--blue-card);
    text-align: center;
    padding: 9px 0;
    font-size: 16px;
    font-weight: bold;
}
.right_bottom{
    text-align: center;
}
.percent_content_text{
    font-size: 16px;
    top: 2px;
    position: relative;
    left: 9px;
}