.cmn_table {
  border-collapse: separate;
  border-spacing: 0;
}
.cmn_table tr:first-child>*:first-child {
  border-top-left-radius: 5px;
}
.cmn_table tr:first-child>*:last-child {
  border-top-right-radius: 5px;
}
.cmn_table tr>*:first-child {
  border-left: 1px solid var(--granite);
}
.cmn_table tr:first-child>* {
  border-top: 1px solid var(--granite);
}
.cmn_table tr th,
.cmn_table tr td {
  border-right: 1px solid var(--granite);
  border-bottom: 1px solid var(--granite);
  border-top: 0;
  vertical-align: middle;
}
.btn_text {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--white);
}
.search_btn {
  width: 90px;
  min-height: 36px;
  padding: 5px;
  color: var(--white);
  text-transform: uppercase;
  border-radius: 4px;
  border : 1px solid var(--cerulean);
  background-color: #E98300;
  font-weight: bold;
}
.row_margin{
  margin-left: 45%;
}
