.table {
  /* text-align: left; */
  /* background-color: greenyellow; */
  /* width: 600px; */
  /* height: 300px; */
  /* border: 1px solid #808080; */
  /* border-radius: 20px 20px 0px 0px !important; */
}

.table th {
  /* color: var(--dune); */
  color: green;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.table tr th:first-child,
.table tr td:first-child {
  /* width: 168px !important; */
  vertical-align: middle !important;
}

.table tr th {
  padding: 5px !important;
}

.table tr th,
.table tr td {
  text-align: center;
  /* width: 242px !important; */
  /* padding-left: 16px;
  padding-right: 16px; */
}

.table tr td:first-child {
  /* width: 168px !important; */
}

.table tr td {
  vertical-align: inherit !important;
}

.no_data {
  height: 32px;
}

.firstHeader{
  border-top-left-radius: 5px;
}

.lastHeader{
  border-top-right-radius: 5px;
}