
.add_keyword_btn {
    min-width: 176px;
    background: var(--white);
    padding: 8px 16px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    outline: none;
    border: 1px solid #808080;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: bold;
}