.chat_img_sec {
    background: var(--purple);
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.main_chat_people {
    max-width: 500px;
    height: fit-content;
}
.chat_people_box {   
    background: var(--disable-low);
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;
}
.chat_people_box>img {
    max-width: 95px;
    height: fit-content;
}
.time_text_box {
    width: 92px;
    text-align: center;
    min-height: 36px;
    border: 1.5px solid var(--dune);
    border-radius: 5px;
}
.chat_text_box {
    position: relative;
}
.chat_text_box>input {
    width: 100%;
    min-height: 72px;
    background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 8px rgb(0 0 0 / 10%);
    border-radius: 20px;
    display: block;
    padding: 16px 60px 16px 32px;
}
.chat_text_box>img {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.start_text {
    background: rgba(0, 165, 217, 0.4);
    padding: 16px 24px;
    color: var(--white);
    text-align: left;
    position: absolute;
    left: 0;
    width: calc(100% - 170px);
    bottom: 0;
    margin: 0;
}
@media (max-width: 1199.98px){
    .main_chat_people {
        max-width: 400px;
        margin-right: auto;
    }
    .chat_people_box {
        width: 140px;
        height: 140px;
    }
    .chat_people_box>img {
        max-width: 85px;
    }
    .start_text {
        width: calc(100% - 140px);
    }
}
@media (max-width: 767.98px){
    .main_chat_people {
        max-width: 320px;
    }
}