.chat_img_sec {
    background: var(--blue-light);
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.main_chat_people {
    max-width: 500px;
    height: fit-content;
}
.chat_people_box {   
    background: var(--disable-low);
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    right: 0;
    bottom: 36px;
}
.chat_people_box>img {
    /* max-width: 95px;
    height: fit-content; */
    left:200px;
}

.main_chat_play_button{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.inline_header{
    display: inline-block;
}

.time_text_box {
    width: 92px;
    text-align: center;
    min-height: 36px;
    border: 1.5px solid var(--dune);
    border-radius: 5px;
}
.chat_text_box {
    position: relative;
}
.chat_text_box>input {
    width: 100%;
    min-height: 72px;
    background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 8px rgb(0 0 0 / 10%);
    border-radius: 20px;
    display: block;
    padding: 16px 60px 16px 32px;
}
.chat_text_box>div {
    position: absolute;
    width: 40px;
    height: 40px;
    object-fit: contain;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
}

.chat_text_box>img {
    position: absolute;
    width: 40px;
    height: 40px;
    object-fit: contain;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.start_text {
    background: var(--blue-card);
    padding: 8px 32px;
    color: var(--white);
    text-align: left;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    margin: 0;
    font-weight: bold;
    z-index: 99;
}

.chat_text_box_recording{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.chat_text_box_recording>img{
    cursor: pointer;
}

.pointer_cursor{
    cursor: pointer;
}
@media (max-width: 1199.98px){
    .main_chat_people {
        max-width: 400px;
        margin-right: auto;
    }
    .chat_people_box {
        width: 140px;
        height: 140px;
    }
    .chat_people_box>img {
        max-width: 85px;
    }
}
@media (max-width: 767.98px){
    .main_chat_people {
        max-width: 320px;
    }
}