
.history_btn {
    width: 118px;
    min-height: 36px;
    background-color: #E98300;
    padding: 5px;
    color: var(--pure-white);
    text-transform: uppercase;
    border-radius: 4px;
    text-align: center;
}
.btn-white {
    background-color: var(--pure-white);
    color: var(--cerulean);
    border: 1px solid #979797;
}