.percentage_circle {
    max-width: 300px;
    height: 300px;
    border: 2px solid var(--blue-card);
    padding: 8px;
    border-radius: 50%;
    margin: 0 auto;
}
.percentage_circle div {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.percentage_circle>div {
    border: 10px solid var(--blue-card);
    padding: 8px;
}
.percentage_circle>div>div {
    background: var(--alice-blue);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15), inset 0px -1px 0px rgba(0, 0, 0, 0.15);    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.percentage_circle div p {
    font-size: 18px;
    line-height: 1;
}
.percentage_circle .percent_txt {
    color: var(--blue-card);
    font-size: 48px;
    font-weight: bold;
}
.inner_circle_wrapper{
    width: 61%;
    margin: 0 auto;
}
.inner_circle{
    background: #E9FAFF;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    text-align: center;
    padding: 23px 0;
}
.inner_circle_wrapper>div>div>svg.CircularProgressbar-path{
    stroke: #00A5D9 !important;
    stroke-linecap: unset !important;
}
.inner_circle_text{
    font-size: 0.9rem;
    display: inline-block;
}
.inner_circle_p_text{
    color: orange;
    font-weight: bold;
    font-size: 2rem;
    display: block;
}