/* .scenario_selection_container{
    padding: 48px 40px;
} */
/* .step_head{
    background: var(--blue-card);
    color: white;
    padding: 10px 16px;
    border-radius: 25px;
    margin: 0 auto 0 24px;
}
.step_head2{
    margin-left: 32px;
}
.step_text{
    margin: 12px auto 0 0;
    font-size: 16px;
    line-height: 16px;
}
.step_list{
    display: flex;
    flex-direction: column;
}
.step_lists:first-child span.step_head:after {
    display: inline-block;
    content: "";
    border-top: .3rem solid var(--blue-card);
    width: 100%;
    margin: 0 1rem;
    transform: translateY(0.5rem);
    position: absolute;
} */
.content{
    background: #FAFAFA;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 2rem 16rem 2rem 2rem;
    margin-top: 2rem;
}
.content_btn{
    justify-content: space-between;
    width: 23%;
}
/* .out_line_btn{
    border: 1px solid var(--blue-card);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    color: var(--blue-card);
    width: 90px;
    height: 36px;
}
.out_fill_btn{
    background: var(--blue-card);
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    width: 159px;
    height: 36px;
} */
.human_img{
    max-width: 60px;
}
.w_6{
    width: 22%;
}
.w_14{
    /* width: 11%!important; */
}
.percent_content{
    display: flex;
    border: 2px solid var(--blue-card);
    border-radius: 10px;
    /* width: 92%;
    bottom: 0;
    position: absolute; */
}
.percent_content_left{
    text-align: center;
    border-right: 2px solid var(--blue-card);
    padding-top: 1.4rem;
    width: 100%;
}
.percent_content_text{
    font-weight: bold;
    margin-left: 1rem;
}
.percent_content_right{
    width: 100%;
}
.right_top{
    border-bottom: 2px solid var(--blue-card);
    text-align: center;
    padding: 9px 0;
    font-size: 16px;
    font-weight: bold;
}
.right_bottom{
    text-align: center;
}
.percent_content_text{
    font-size: 16px;
    top: 2px;
    position: relative;
    left: 9px;
}
.progress_bar {
    background: #E9FAFF;
    opacity: 0.1;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    opacity: 1;
}
.progress_bar_per {
    background: var(--blue-card);
    border-radius: 20px;
    height: 10px;
    width: 50%;
    display: block;
    position: relative;
}
.progress_bar_per:after {
    content: "";
    width: 2px;
    height: 30px;
    background-color: var(--blue-card);
    position: absolute;
    right: 0;
    bottom: 0;
}
.progress_bar_img {
    position: relative;
    margin: 0 0 8px -32px;
}
.progress_bar_text {
    position: absolute;
    bottom: 10px;
}
.right_0 {
    right: 15px;
}

.roleplay_step2_tb {
    border: 1px solid var(--blue-card);
    border-collapse: unset;
    border-spacing: 0;
    border-radius: 11px;
}
.roleplay_step2_tb td {
    border: 1px solid var(--blue-card);
    vertical-align: middle;
    padding: 8px;
    text-align: center;
    background-color: var(--alice-blue);
    color: var(--blue-card);
}
.roleplay_step2_tb tr:first-child td:first-child {
    border-top-left-radius: 10px;
}
.roleplay_step2_tb tr:first-child td:last-child {
    border-top-right-radius: 10px;
}
.roleplay_step2_tb tr:first-child td:first-child {
    border-bottom-left-radius: 10px;
    background-color: #FCD9CC;
    color: var(--dune);
}
.roleplay_step2_tb tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}