.synonym_btn{
    color: var(--white);
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    background: var(--lightSkyBlue);
    box-shadow: inset 0px 1px 0px rgb(0 0 0 / 15%);
    border-radius: 20px;
    width: 100%;
    height: 40px;
}
.synonym_btn>svg {
    color: rgba(0, 0, 0, 0.5);
}
.synonym_btn:hover{
    color: var(--white);
}
.synonym_btn svg{
    top: 4px;
    position: relative;
}
.action_wrapper{
    /* border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 20px 20px 8px 8px; */
    padding: 10px 8px;
    /* height: 64px;
    display: grid;
    grid-template-columns: 54% 20% 21%;
    grid-column-gap: 24px; */
}

.add_keyword_btn{
    min-height: 50px;
    background: var(--mediumSlateBlue);
    box-shadow: 0px 2px 8px rgb(0 0 0 / 15%), inset 0px -1px 0px rgb(0 0 0 / 15%);
    border-radius: 15px;
    color: var(--white);
    font-size: var(--card-title);
    line-height: 22px;
    width: 100%;
    font-weight: normal;
}
.add_keyword_btn svg{
    font-weight: 100;
    font-size: var(--content-text);
    margin-right: 10px;
}
.add_keyword_btn:hover{
    color: var(--white);
}

.export_btn{
    min-height: 46px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 15px;
    font-size: var(--card-title);
    line-height: 100%;
    width: 100%;
}
.export_btn svg{
    font-weight: 100;
    font-size: var(--content-text);
    margin-right: 10px;
}
.search_box_container{
    /* background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: inset 0px 2px 8px rgb(0 0 0 / 10%);
    border-radius: 15px; */
    min-height: 50px;
     padding: 8px 16px 4px;
  /*  margin-left: 5px;
    position: relative;
    top: 2px;
    width: 99%; */
}
.search_box_container input{
    /* width: 94%;
    display: inline;
    border: none;
    color: var(--darkGray);
    margin-left: 10px; */
}
.search_box_container svg{
    /* color: var(--darkGray);
    top: 3px;
    position: relative; */
}
