.head_text{
    font-size: 32px;
    margin-top: 48px;
    margin-bottom: 32px;
}
.selected_persona{
    /* // */
}

.selected_persona_img{
    margin: -64px 16px 0;
}

.selected_persona_info{
    display: flex;
    justify-content: space-between;
    background: var(--mediumSlateBlue);
    position: relative;
    padding: 0 16px;
    border-radius: 20px;
    min-height: 64px;
    align-items: center;
}

.selected_persona_number{
    color: var(--white);
    background: var(--slateBlue);
    padding: 5px 12px;
    font-size: var(--card-secondary-head-text);
    border-radius: 50px;
    width: 32px;
    height: 32px;
}
.selected_persona_name{
    font-size: var(--secondary-head-text);
    color: var(--white);
}
.selected_persona_type{
    font-size: var(--content-text);
    color: var(--white);
    margin-top: 9px;
}
.selected_persona_count{
    background: var(--slateBlue);
    color: var(--white);
    font-size: var(--card-secondary-head-text);
    line-height: 15px;
    width: 69px;
    height: 32px;
    border-radius: 10px;
    text-align: center;
    padding: 9px 0;
    float: right;
    align-items: flex-end;
}

.selected_persona_content{
    display: grid;
    grid-template-columns: 20% 78%;
    margin-top: 24px;
    grid-column-gap: 24px;
}
.selected_persona_content_folder_btn_wrapper{
    background: var(--white);
    color: var(--lightSkyBlue);
    border-radius: 8px;
    padding: 9px 31px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 8px;
    box-shadow: 2px 4px 9px 0px rgb(0 0 0 / 23%), inset 0px -1px 0px rgb(0 0 0 / 14%);
}
.selected_persona_content_folder_btn_wrapper_active{
    background: var(--lightSkyBlue);
    color: var(--white);
}
.selected_persona_content_folder_btn_wrapper:first-child{
    border-radius: 20px 20px 8px 8px;
}
.selected_persona_content_folder_btn_wrapper:last-child{
    border-radius: 8px 8px 20px 20px;
}
.selected_persona_content_folder_btn_wrapper .fa-angle-right{
    color: var(--icon-btn);
}

.selected_persona_folder_cards{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 21px;
    grid-row-gap: 24px;
}
