.scroll_bar {
    background: var(--blue-card);
    border-radius: 10px;
    color: var(--white);
    padding: 16px 80px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid var(--light-purple);
    align-items: center;
}
.scroll_bar.pass {
    background-color: var(--blue-light);
    color: var(--dune);
}
.scroll_bar img {
    max-width: 100%;
}
.score_star img {
    margin-right: 8px;
} 

@media screen and (max-width: 1399.98px) {
    .scroll_bar{
        padding: 16px 24px;
    }
}